@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar styles */
.scrollbar-custom::-webkit-scrollbar {
  height: 12px; /* Height of horizontal scrollbar */
}

.scrollbar-custom::-webkit-scrollbar-track {
  background: rgba(0, 0, 0, 0.1); /* Track color */
}

.scrollbar-custom::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.3); /* Scrollbar thumb color */
  border-radius: 10px; /* Roundness of the scrollbar thumb */
  border: 3px solid rgba(0, 0, 0, 0.1); /* Creates padding around thumb */
}